/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.custom-theme {

    .mdc-button,
    .mdc-raised-button,
    .mdc-outlined-button {
        @apply rounded-md
    }
}

.container {
    @apply mx-auto max-w-screen-2xl
}

a.active {
    color: #7d00fa;
    font-weight: bold;
}

.mdc-notched-outline__notch{
    border-right-style: none !important;
}

.logo {
    width: 150px;
    height: 60px;
}

.icon {
    display: inline;
    height: 25px;
    width: 25px;
}

.icon2 {
    display: inline;
    height: 50px;
    width: 50px;
}